[Desktop Entry]
Name=Chose Folder
Type=Application
NoDisplay=true
Categories=Utility;Application;
Icon=./Applications/icons/chosefolder.png
Exec="./Applications/chosefolder.py"
Terminal=false
Name[en_US]=chosefolder.desktop

