[Desktop Entry]
Name=Download all
Type=Application
NoDisplay=true
Categories=Utility;Application;
Icon=./Applications/icons/downloadall.png
Exec="./Applications/downloadall.sh"
Terminal=true
Name[en_US]=downloadall.desktop
