[Desktop Entry]
Name=Tetther
Type=Application
NoDisplay=true
Categories=Utility;Application;
Icon="./Applications/icons/capture-tethered.png"
Exec="./Applications/capture-tethered.sh"
Terminal=true
