[Desktop Entry]
Name=Update Scripts
Type=Application
NoDisplay=true
Categories=Utility;Application;
Icon=./Applications/icons/update.jpeg
Exec="./Applications/script.git.sh"
Terminal=true
Name[en_US]=Update Script


