[Desktop Entry]
Name=Tetther Wifi
Type=Application
NoDisplay=true
Categories=Utility;Application;
Icon=/home/red/Desktop/Applications/capture-tethered.png
Exec="/home/red/Desktop/Applications/capture-tethered-wifi.sh"
Terminal=true
Name[en_US]=Tetther Wifi
