[Desktop Entry]
Name=Chose Folder
Type=Application
NoDisplay=true
Categories=Utility;Application;
Icon=/home/blue/Desktop/Applications/chosefolder.png
Exec="/home/blue/Desktop/Applications/chosefolder.py"
Terminal=false
