[Desktop Entry]
Name=Download all Wifi
Type=Application
NoDisplay=true
Categories=Utility;Application;
Icon=/home/blue/Desktop/Applications/downloadall.png
Exec="/home/blue/Desktop/Applications/downloadall-wifi.sh"
Terminal=true
Name[en_US]=Download all Wifi
